* {
	box-sizing: border-box;
}


body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to left, #76b852, #8DC26F);
	text-align: center;
}

.login {
	width: 375px;
	height: 315px;
	background: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 35px;
	box-shadow: 0px 2px 15px #494949;
}


input, button {
	width: 100%;
	background: #F7F7F7;
	display: block;
	border: none;
	margin: 15px auto;
	padding: 20px;
	font-size: 14px;
	color: #A9A9A9;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

button {
	background: #40BA60;
	color: white;
	cursor: pointer;
	font-weight: thin;
}

button:hover {
	background: #47A35E;
}

p {
	font-size: 12px;
	color: #B3B3B7;

}

a:link {
	text-decoration: none;
	color: #51AF76;
	cursor: default;
}

a:visited {
	color: #51AF76;
}
